
*{
    margin: 0;
    padding: 0;
}

.h100{
    height: 100vh;
}
img{
    height: 70%;
    width: 100%;
}
.box{
    height: 400px;
    overflow: hidden;
    position: relative;
    border: 5px solid white;
    border-radius: 5%;

}
.box:hover{
    border-radius: 10%;
    transform:rotateY(35deg);
    transition: 2s;
}
.fontwight{
    font-weight: 500;
    font-size: 17px;
}
.title{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 30px;
    color:midnightblue;

}
.box:hover img{
height: 100%;
transition: 1s;
}
.box:hover .title{
    top: 70%;
    left: 30%;
    transition: 1s;
}
.box:hover .sociallogo{
top: 82%;
left: 20%;
transition: 1s;
color: white;
font-size: 25px;
}
.sociallogo{
    left: 30%;
    top: -70px;
    position: absolute;
}
i{
    font-size: 30px;
    float: left;
    color:whitesmoke;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.socilaicon{
    background-color:olivedrab;
    padding: 10px;
    margin: 4px;
    border-radius: 50%;
border: 0.5px solid olive;
}
.socilaicon:hover{
    b
}